body {
    margin: 0;
    padding: 0;
  }

  .about-container{
     position:relative;
    background:#e1bee7;
    width: 100%;
    height: 100vh;
   
  }
  .social-container{
    position:relative;
   background:#80cbc4;
   width: 100%;
   height: 20vh;
  
 }
  .project1-container{
    position:relative;
   background:#d1c4e9;
   width: 100%;
   height: 130vh;
  
 }
 .project2-container{
  position:relative;
 background:#ffcdd2;
 width: 100%;
 height: 140vh;

}
.project3-container{
  position:relative;
 background:#c5cae9;
 width: 100%;
 height: 130vh;

}
.project4-container{
  position:relative;
 background:#b2ebf2;
 width: 100%;
 height: 140vh;

}
.project5-container{
  position:relative;
 background:#e1bee7;
 width: 100%;
 height: 140vh;

}
  .project-container{
    position:relative;
    background:#bbdefb;
    width: 100%;
    height:30vh;
  }
  
  
  .container {
    /* position:relative; */
    background:#90e3e3;
    width: 100%;
    height: 100vh;
  }
  .img-me{
    position:absolute;
    width:20vh;
    height:25vh;
    border: 1px;
    border-radius: 20vh;

    top: 10%;
    left: 45%;
   
  }
  .socialdiv {
    display: flex;
    justify-content: space-around;
  }
  .github{
    position:absolute;
    width:8vh;
    height:8vh;
    top: 70%;
    /* left:30% */

  }
  .github:hover{ 
    transform: scale(1.2) translateY(-5px);
  }
 
  .linkedin{
    position:absolute;
    width:12vh;
    height:12vh;
    top: 69%;
    /* left:40% */

  }
  .linkedin:hover{ 
    transform: scale(1.2) translateY(-5px);
  }
  .facebook{
    position:absolute;
    width:9vh;
    height:9vh;
    top: 70%;
    /* left:50% */

  }
  .facebook:hover{ 
    transform: scale(1.2) translateY(-5px);
  }
  .gitlab{
    position:absolute;
    width:7vh;
    height:7vh;
    top: 71%;
    /* left:60% */

  }
  .gitlab:hover{ 
    transform: scale(1.2) translateY(-5px);
  }
 
  .edu-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:20px;
    top:30%;
    left:16%;
    color:#004d40;

  }
  .eduw-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:16px;
    text-align:justify;
    top:35%;
    left:12%;
    width:13%;
    min-width:13%;


  }
  .training-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:20px;
    top:30%;
    left:46.5%;
    color:#004d40

  }
  .trainingw-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:16px;
    text-align:justify;
    top:35%;
    left:43%;
    width:12%;
    min-width:12%;
    

  }
  .work-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:20px;
    top:30%;
    left:76%;
    color:#004d40;
   
  }
  .workw-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:16px;
    text-align:justify;
    top:35%;
    left:74%;
    width:15%;
    min-width:15%;
    width:10%;
    min-width:10%;
    

  }
  .square {
    position:absolute;
   /* position: fixed; */
     top:10%;
    left:15%;
    height: 110px;
    width: 110px;
    background-color: #fff; 
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;

  
  }
  


  /* #rightgear { right: 2rem; } */
  .square:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(360deg);

  }
  .square2 {
    position:absolute;
    top:10%;
    left:45%;
    height: 110px;
    width: 110px;
    background-color: #90e3e3;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
  }
  .square2:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(360deg);

  }
  .square3 {
    position:absolute;
    top:10%;
    left:75%;
    margin-right:10%;
    height: 110px;
    width: 110px;
    background-color: #90e3e3;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
  }
  .square3:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(360deg);

  }
  .img {
    position:absolute;
    width: 70px;
    height: 70px;
    left:15%;
    top:15%
   
  }
 
  
 
  
  .animation-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .animation-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    animation: animate 20s linear infinite;
    bottom: -150px;
  }
  
  .animation-area li:nth-child(1) {
    background-color: #329795;
    left: 85%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
  }
  
  .animation-area li:nth-child(2) {
    background-color: #F17993;
    left: 75%;
    width: 25px;
    height: 25px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  
  .animation-area li:nth-child(3) {
    background-color: #7E4C97;
    left: 60%;
    width: 20px;
    height: 20px;
    animation-delay: 5.5s;
  }
  
  .animation-area li:nth-child(4) {
    background-color: black;
    left: 40%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  
  .animation-area li:nth-child(5) {
    background-color: brown;
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
  }
  
  .animation-area li:nth-child(6) {
    background-color: #F9ADA3;
    left: 10%;
    width: 10px;
    height: 10px;
    animation-delay: 3.5s;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    
    100% {
      transform: translateY(-800px) rotate(360deg);
      opacity: 0
    }
  }
  .fontcontainer{
    text-align: center;
    top: 50%;
    position:relative;
     margin: auto;
  }
  
 


  .card {
     position: relative;
    display: flex;
    width: 400px;
    height:400px;
    text-align: center;
    /* padding: 15px; */
  
 
    
    
   
  }
  .imgdiv {
  
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  }
  

  /* .image, .shadow {
    position: relative;
    width: 100%;
    height: 100%;
    left:60vh;
    
    top:20vh;
    background-repeat: no-repeat;
    background-size: 105%;
    background-color:#90e3e3;
  }
  
  .shadow {
    transform: scale(0.9)  translateY(30px);
    -webkit-filter: blur(25px);
    filter: blur(25px);
    
  }
  
  .shadowImage {
    position: absolute;
    width: 103%;
    height: 103%;
    opacity: 0.8;
  } */
  
  .card:hover{ 
    transform: scale(1.04) translateY(-5px);
  }
  .card:hover .image,
  .card:hover .shadow {
      background-size: 110%;
  }
  .card:hover .shadow {
    transform: scale(0.85) translateY(40px);
    -webkit-filter: blur(30px);
    filter: blur(30px);
    background-color: rgba(0,0.7,0.7,0.7);
  }

  .text-box {
    text-align: center;
    top: 30%;
    left:50%;
    position:relative;
   
    margin: auto;
     transform: translate(-50%, -50%);
     
  }
  
  .heading-primary {
      color:#333;
    
  }
  .work{
    font-family: 'Lobster', cursive;
      /* display:  inline-block; */
      display:flex;
      font-size: 25px;
      min-width:150px;
      font-weight: 400;
      margin-left:5%;
      margin-top:20%;
 
      /* text-align:center; 
      margin-left:15vh; */
      /* letter-spacing: 35px; */
     /*  Animation decalaration   */
   

  }
  .item-img{
    width: 12%;
    height:50%;
    display:flex;
    margin-top:5vh;
    margin-left:30vh;

  }
  .workcontainer
  {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;

  }
  .textcontainer{
    flex-direction: column;
    display: flex;
  }
  .work2{
    font-family: 'Lobster', cursive;
      display:flex;
      font-size: 18px;
      min-width:150px;
      font-weight: 400;
      /* margin-left:0%; */
    
   

  }
  .laptop{
    /* display: inline-block; */
    width: 220px;
    height:150px;
    min-width:120px;
    min-height:30px;
    display:flex;
     margin-top:2%;
    /* margin-left:10vw; */
    /* margin-right:10vw */

  }
  .workimg{
    /* display: inline-block; */
    width: 140px;
    height:150px;
    min-width:100px;
    min-height:100px;
    display:flex;
    /* float:right; */
    margin-top:2%;
     /* margin-left:10vw;  */
}

.projectimg{
  /* display: inline-block; */
  width: 450px;
  height:300px;
  min-width:100px;
  min-height:100px;
  /* margin-left:33%; */
  position: relative;
  margin-top:2%;
  display:flex;
 
}
.additionalpic{
  
  left:500px;
 top:48vh;
  height:4vh;
  position:absolute

}
.additionalpic1{
  
  right:4vh;
 top:30%;
  height:10vh;
  position:absolute

  
}
.additionalpic2{
  
  right:10vh;
  top:53vh;
  height:10vh;
  position:absolute

}
.imgcontainer{
  position: relative;
  display: flex;
  justify-content: center;
  min-width:80px;
  min-height:100px;
}
.text-container{
  /* font-family: 'Baloo Tamma 2', cursive; */
  font-size:15px;
  /* //display:flex; */
  width:60%;
  margin-left:20%;
  margin-top:5%;
  text-align:justify;

}
.addtext-container{
  /* font-family: 'Baloo Tamma 2', cursive; */
  font-size:15px;
  /* //display:flex; */
  width:60%;
  margin-left:20%;
  text-align:justify;
  margin-top:2%

}
.project1img{
  /* display: inline-block; */
  width: 230px;
  height:450px;
  float: right;
  /* margin-right: 150px; */

  border:    5px;
  border-radius: 25px;
  position: relative;
  /* display:flex; */
 
}
.title{
  font-family: 'Lobster', cursive;
  display: block;
  text-align: center;
  line-height: 150px;
  height: 150px;
   font-size: 40px;
  font-weight: 400;

}
.button{
  position:absolute; 
  bottom:10%;
 left:45%
}

  .heading-primary-main {
    font-family: 'Lobster', cursive;
      display: block;
      font-size: 40px;
      font-weight: 400;
      /* letter-spacing: 35px; */
     /*  Animation decalaration   */
      animation-name: moveInleft;
      animation-duration: 3s;
  }
  
  .heading-primary-sub {
    font-family: 'Lobster', cursive;
      display: block;
      font-size: 20px;
      font-weight: 700;
      top:5%;
      /* letter-spacing: 15.9px; */
    
      animation-name: moveInRight;
      animation-duration: 3s;
  }


  
  
  @keyframes moveInleft {
      0% {
          opacity: 0;
          transform: translateX(-100px);
      }
  
      80% {
          transform: translateX(10px);
      }
      100% {
          opacity: 1;
          transform: translate(0);
      }
  }
  
  @keyframes moveInRight {
      0% {
          opacity: 0;
          transform: translateX(100px);
      }
  
      80% {
          transform: translateX(-10px);
      }
      
      100% {
          opacity: 1;
          transform: translate(0);
      }
  
  }

  
  
 
  
  
 
  