body {
    margin: 0;
    padding: 0;
  }

  .about-container{
     position:relative;
    background:#b2dfdb;
    width: 100%;
    height: 100vh;
   
  }
  .project-container{
    background:#e1bee7;
    width: 100%;
    height: 100vh;
  }
  
  
  .container {
    background:#90e3e3;
    width: 100%;
    height: 100vh;
  }
  .img-me{
    position:absolute;
    width:20vh;
    height:25vh;
    border: 1px;
    border-radius: 20vh;

    top: 10%;
    left: 45%;
   
  }
  .square {
    position:absolute;
   /* position: fixed; */
     top:50%;
    left:17%;
    height: 15vh;
    width: 15vh;
    background-color: #fff; 
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;

  
  }
  .edu-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:1.25vw;
    top:65%;
    left:18%;
    color:#004d40;

  }
  .eduw-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:0.8vw;
    top:70%;
    left:15%;
    width:13%;
    min-width:13%;


  }
  .training-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:1.25vw;
    top:65%;
    left:48.5%;
    color:#004d40

  }
  .trainingw-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:0.8vw;
    top:70%;
    left:46%;
    width:12%;
    min-width:12%;
    

  }
  .work-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:1.25vw;
    top:65%;
    left:81%;
    color:#004d40;
   
  }
  .workw-text{
    position:absolute;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:0.8vw;
    top:70%;
    left:80%;
    width:15%;
    min-width:15%;
    width:10%;
    min-width:10%;
    

  }


  #rightgear { right: 2rem; }
  .square:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(360deg);

  }
  .square2 {
    position:absolute;
    top:50%;
    left:47%;
    height: 15vh;
    width: 15vh;
    background-color: #90e3e3;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
  }
  .square2:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(360deg);

  }
  .square3 {
    position:absolute;
    top:50%;
    left:80%;
    height: 15vh;
    width: 15vh;
    background-color: #90e3e3;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
  }
  .square3:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(360deg);

  }
  .img {
    position:absolute;
    width: 10vh;
    height: 10vh;
    left:15%;
    top:15%
   
  }
  
 
  
  .animation-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .animation-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    animation: animate 20s linear infinite;
    bottom: -150px;
  }
  
  .animation-area li:nth-child(1) {
    background-color: #329795;
    left: 85%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
  }
  
  .animation-area li:nth-child(2) {
    background-color: #F17993;
    left: 75%;
    width: 25px;
    height: 25px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  
  .animation-area li:nth-child(3) {
    background-color: #7E4C97;
    left: 60%;
    width: 20px;
    height: 20px;
    animation-delay: 5.5s;
  }
  
  .animation-area li:nth-child(4) {
    background-color: black;
    left: 40%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  
  .animation-area li:nth-child(5) {
    background-color: brown;
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
  }
  
  .animation-area li:nth-child(6) {
    background-color: #F9ADA3;
    left: 10%;
    width: 10px;
    height: 10px;
    animation-delay: 3.5s;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    
    100% {
      transform: translateY(-800px) rotate(360deg);
      opacity: 0
    }
  }
  .fontcontainer{
    text-align: center;
    top: 50%;
    position:relative;
   
    margin: auto;
  }
  .aboutfont{
   
    font-family: 'Lobster', cursive;
    font-size: 40px;
    top: 50%;
    
    display: inline-block;
    color:black;
    
  

  }
  .aboutfont2{
   
    font-family: 'Lobster', cursive;
    font-size: 20px;
    top: 50%;
    
    display: inline-block;
    color:black;
    
  

  }

  .card {
    position: relative;
    display: flex;
    width: 50vh;
    height: 50vh;
    margin:auto
    
    
   
  }
  .image, .shadow {
    position: relative;
    width: 100%;
    height: 100%;
    left:60vh;
    
    top:20vh;
    background-repeat: no-repeat;
    background-size: 105%;
    background-color:#90e3e3;
  }
  
  .shadow {
    transform: scale(0.9)  translateY(30px);
    -webkit-filter: blur(25px);
    filter: blur(25px);
    
  }
  
  .shadowImage {
    position: absolute;
    width: 103%;
    height: 103%;
    opacity: 0.8;
  }
  
  .card:hover{ 
    transform: scale(1.04) translateY(-5px);
  }
  .card:hover .image,
  .card:hover .shadow {
      background-size: 110%;
  }
  .card:hover .shadow {
    transform: scale(0.85) translateY(40px);
    -webkit-filter: blur(30px);
    filter: blur(30px);
    background-color: rgba(0,0.7,0.7,0.7);
  }
  
 
  